.detail-page-header.clearfix
  .snippet-box.has-tooltip.inline.append-right-5{ title: snippet_visibility_level_description(@snippet.visibility_level, @snippet), data: { container: "body" } }
    %span.sr-only
      = visibility_level_label(@snippet.visibility_level)
    = visibility_level_icon(@snippet.visibility_level, fw: false)
  %strong.item-title
    代码片段 #{@snippet.to_reference}
  %span.creator
    由 #{link_to_member(@project, @snippet.author, size: 24, author_class: "author item-title", avatar_class: "hidden-xs")}
    创建于
    = time_ago_with_tooltip(@snippet.created_at, placement: 'bottom', html_class: 'snippet_updated_ago')

  .snippet-actions
    - if @snippet.project_id?
      = render "projects/snippets/actions"
    - else
      = render "snippets/actions"

.snippet-header.limited-header-width
  %h2.snippet-title.prepend-top-0.append-bottom-0
    = markdown_field(@snippet, :title)

  - if @snippet.updated_at != @snippet.created_at
    = edited_time_ago_with_tooltip(@snippet, placement: 'bottom', html_class: 'snippet-edited-ago', exclude_author: true)
  - if @snippet.description.present?
    .description
      .wiki
        = markdown_field(@snippet, :description)
      %textarea.hidden.js-task-list-field
        = @snippet.description
