- @no_container = true
- page_title "图表"
- if show_new_nav?
  - add_to_breadcrumbs("Repository", project_tree_path(@project))
- content_for :page_specific_javascripts do
  = webpack_bundle_tag('common_d3')
  = webpack_bundle_tag('graphs')
  = webpack_bundle_tag('graphs_charts')
= render "projects/commits/head"

.repo-charts{ class: container_class }
  %h4.sub-header
    版本库中使用的编程语言

  .row
    .col-md-4
      %ul.bordered-list
        - @languages.each do |language|
          %li
            %span{ style: "color: #{language[:color]}" }
              = icon('circle')
            &nbsp;
            = language[:label]
            .pull-right
              = language[:value]
              \%
    .col-md-8
      %canvas#languages-chart{ height: 400 }

.repo-charts{ class: container_class }
  .sub-header-block.border-top

  .row.tree-ref-header
    .col-md-6
      %h4
        %strong= @ref
        的提交统计
        #{@commits_graph.start_date.strftime('%b %d')} - #{@commits_graph.end_date.strftime('%b %d')}

    .col-md-6
      .tree-ref-container
        .tree-ref-holder
          = render 'shared/ref_switcher', destination: 'graphs_commits'
        %ul.breadcrumb.repo-breadcrumb
          = commits_breadcrumbs

  .row
    .col-md-6
      %ul.commit-stats
        %li
          总共:
          %strong #{@commits_graph.commits.size} 次提交
        %li
          平均每天:
          %strong #{@commits_graph.commit_per_day} 次提交
        %li
          贡献者:
          %strong #{@commits_graph.authors} 人
    .col-md-6
      %div
        %p.slead
          每月按天提交数
        %canvas#month-chart
  .row
    .col-md-6
    .col-md-6
      %div
        %p.slead
          每周提交数
        %canvas#weekday-chart
  .row
    .col-md-6
    .col-md-6
      %div
        %p.slead
          每天按小时提交数 (UTC)
        %canvas#hour-chart

%script#projectChartData{ type: "application/json" }
  - projectChartData = {};
  - projectChartData['hour'] = @commits_per_time
  - projectChartData['weekDays'] = @commits_per_week_days
  - projectChartData['month'] = @commits_per_month
  - projectChartData['languages'] = @languages
  = projectChartData.to_json.html_safe
