- @content_class = "limit-container-width" unless fluid_layout
- page_title "流水线"

- if show_new_nav?
  - add_to_breadcrumbs("Settings", edit_project_path(@project))

= render "projects/settings/head"

= render 'projects/runners/index'
= render 'ci/variables/index'
= render 'projects/triggers/index'
= render 'projects/pipelines_settings/show'
