.container-image.js-toggle-container
  .container-image-head
    = link_to "#", class: "js-toggle-button" do
      = icon('chevron-down', 'aria-hidden': 'true')
      = escape_once(image.path)

    = clipboard_button(clipboard_text: "docker pull #{image.location}")

    - if can?(current_user, :update_container_image, @project)
      .controls.hidden-xs.pull-right
        = link_to project_container_registry_path(@project, image),
                  class: 'btn btn-remove has-tooltip',
                  title: '删除版本库',
                  data: { confirm: '您确定要删除版本库？' },
                  method: :delete do
          = icon('trash cred', 'aria-hidden': 'true')

  .container-image-tags.js-toggle-content.hide
    - if image.has_tags?
      .table-holder
        %table.table.tags
          %thead
            %tr
              %th 标签
              %th 标签 ID
              %th 大小
              %th 创建于
              - if can?(current_user, :update_container_image, @project)
                %th
          = render partial: 'tag', collection: image.tags
    - else
      .nothing-here-block 容器注册表中没有此容器镜像的标签。
