%aside.right-sidebar.right-sidebar-expanded.wiki-sidebar.js-wiki-sidebar.js-right-sidebar{ data: { "offset-top" => "50", "spy" => "affix" } }
  .sidebar-container
    .block.wiki-sidebar-header.append-bottom-default
      %a.gutter-toggle.pull-right.visible-xs-block.visible-sm-block.js-sidebar-wiki-toggle{ href: "#" }
        = icon('angle-double-right')

      - git_access_url = project_wikis_git_access_path(@project)
      = link_to git_access_url, class: active_nav_link?(path: 'wikis#git_access') ? 'active' : '' do
        = succeed '&nbsp;' do
          = icon('cloud-download')
        克隆版本库

    .blocks-container
      .block.block-first
        %ul.wiki-pages
          = render @sidebar_wiki_entries, context: 'sidebar'

      .block
        = link_to project_wikis_pages_path(@project), class: 'btn btn-block' do
          更多页面

= render 'projects/wikis/new'
