- is_current_user = issuable_author_is_current_user(issuable)
- display_issuable_type = issuable_display_type(issuable)
- button_method = issuable_close_reopen_button_method(issuable)

- if can_update && is_current_user
  = link_to "关闭 #{display_issuable_type}", close_issuable_url(issuable), method: button_method,
            class: "hidden-xs hidden-sm btn btn-grouped btn-close #{issuable_button_visibility(issuable, true)}", title: "关闭 #{display_issuable_type}"
  = link_to "重新打开 #{display_issuable_type}", reopen_issuable_url(issuable), method: button_method,
            class: "hidden-xs hidden-sm btn btn-grouped btn-reopen #{issuable_button_visibility(issuable, false)}", title: "重新打开 #{display_issuable_type}"
- elsif can_update && !is_current_user
  = render 'shared/issuable/close_reopen_report_toggle', issuable: issuable
- else
  = link_to '举报违规', new_abuse_report_path(user_id: issuable.author.id, ref_url: issuable_url(issuable)),
            class: 'hidden-xs hidden-sm btn btn-grouped btn-close-color', title: '举报违规'
