- todo = issuable_todo(issuable)
- content_for :page_specific_javascripts do
  = page_specific_javascript_bundle_tag('common_vue')
  = page_specific_javascript_bundle_tag('sidebar')

%aside.right-sidebar.js-right-sidebar{ data: { "offset-top" => "50", "spy" => "affix", signed: { in: current_user.present? } }, class: sidebar_gutter_collapsed_class, 'aria-live' => 'polite' }
  .issuable-sidebar{ data: { endpoint: "#{issuable_json_path(issuable)}" } }
    - can_edit_issuable = can?(current_user, :"admin_#{issuable.to_ability_name}", @project)
    .block.issuable-sidebar-header
      - if current_user
        %span.issuable-header-text.hide-collapsed.pull-left
          待办事项
      %a.gutter-toggle.pull-right.js-sidebar-toggle{ role: "button", href: "#", "aria-label" => "切换侧栏" }
        = sidebar_gutter_toggle_icon
      - if current_user
        = render "shared/issuable/sidebar_todo", todo: todo, issuable: issuable

    = form_for [@project.namespace.becomes(Namespace), @project, issuable], remote: true, format: :json, html: { class: 'issuable-context-form inline-update js-issuable-update' } do |f|
      - if current_user
        .block.todo.hide-expanded
          = render "shared/issuable/sidebar_todo", todo: todo, issuable: issuable, is_collapsed: true
      .block.assignee
        = render "shared/issuable/sidebar_assignees", issuable: issuable, can_edit_issuable: can_edit_issuable, signed_in: current_user.present?
      .block.milestone
        .sidebar-collapsed-icon
          = icon('clock-o', 'aria-hidden': 'true')
          %span
            - if issuable.milestone
              %span.has-tooltip{ title: milestone_remaining_days(issuable.milestone), data: { container: 'body', html: 1, placement: 'left' } }
                = issuable.milestone.title
            - else
              无
        .title.hide-collapsed
          里程碑
          = icon('spinner spin', class: 'hidden block-loading', 'aria-hidden': 'true')
          - if can_edit_issuable
            = link_to '编辑', '#', class: 'edit-link pull-right'
        .value.hide-collapsed
          - if issuable.milestone
            = link_to issuable.milestone.title, milestone_path(issuable.milestone), class: "bold has-tooltip", title: milestone_remaining_days(issuable.milestone), data: { container: "body", html: 1 }
          - else
            %span.no-value 无

        .selectbox.hide-collapsed
          = f.hidden_field 'milestone_id', value: issuable.milestone_id, id: nil
          = dropdown_tag('里程碑', options: { title: '指派里程碑', toggle_class: 'js-milestone-select js-extra-options', filter: true, dropdown_class: 'dropdown-menu-selectable', placeholder: 'Search milestones', data: { show_no: true, field_name: "#{issuable.to_ability_name}[milestone_id]", project_id: @project.id, issuable_id: issuable.id, milestones: project_milestones_path(@project, :json), ability_name: issuable.to_ability_name, issue_update: issuable_json_path(issuable), use_id: true, default_no: true, selected: (issuable.milestone.name if issuable.milestone), null_default: true }})
      - if issuable.has_attribute?(:time_estimate)
        #issuable-time-tracker.block
          // Fallback while content is loading
          .title.hide-collapsed
            工时跟踪
            = icon('spinner spin', 'aria-hidden': 'true')
      - if issuable.has_attribute?(:due_date)
        .block.due_date
          .sidebar-collapsed-icon
            = icon('calendar', 'aria-hidden': 'true')
            %span.js-due-date-sidebar-value
              = issuable.due_date.try(:to_s, :medium) || '无'
          .title.hide-collapsed
            截止日期
            = icon('spinner spin', class: 'hidden block-loading', 'aria-hidden': 'true')
            - if can?(current_user, :"admin_#{issuable.to_ability_name}", @project)
              = link_to '编辑', '#', class: 'edit-link pull-right'
          .value.hide-collapsed
            %span.value-content
              - if issuable.due_date
                %span.bold= issuable.due_date.to_s(:medium)
              - else
                %span.no-value 没有截止日期
            - if can?(current_user, :"admin_#{issuable.to_ability_name}", @project)
              %span.no-value.js-remove-due-date-holder{ class: ("hidden" if issuable.due_date.nil?) }
                \-
                %a.js-remove-due-date{ href: "#", role: "button" }
                  删除截止日期
          - if can?(current_user, :"admin_#{issuable.to_ability_name}", @project)
            .selectbox.hide-collapsed
              = f.hidden_field :due_date, value: issuable.due_date.try(:strftime, 'yy-mm-dd')
              .dropdown
                %button.dropdown-menu-toggle.js-due-date-select{ type: 'button', data: { toggle: 'dropdown', field_name: "#{issuable.to_ability_name}[due_date]", ability_name: issuable.to_ability_name, issue_update: issuable_json_path(issuable) } }
                  %span.dropdown-toggle-text 截止日期
                  = icon('chevron-down', 'aria-hidden': 'true')
                .dropdown-menu.dropdown-menu-due-date
                  = dropdown_title('截止日期')
                  = dropdown_content do
                    .js-due-date-calendar

      - if @labels && @labels.any?
        - selected_labels = issuable.labels
        .block.labels
          .sidebar-collapsed-icon.js-sidebar-labels-tooltip{ title: issuable_labels_tooltip(issuable.labels_array), data: { placement: "left", container: "body" } }
            = icon('tags', 'aria-hidden': 'true')
            %span
              = selected_labels.size
          .title.hide-collapsed
            标记
            = icon('spinner spin', class: 'hidden block-loading', 'aria-hidden': 'true')
            - if can_edit_issuable
              = link_to '编辑', '#', class: 'edit-link pull-right'
          .value.issuable-show-labels.hide-collapsed{ class: ("has-labels" if selected_labels.any?) }
            - if selected_labels.any?
              - selected_labels.each do |label|
                = link_to_label(label, subject: issuable.project, type: issuable.to_ability_name)
            - else
              %span.no-value 无
          .selectbox.hide-collapsed
            - selected_labels.each do |label|
              = hidden_field_tag "#{issuable.to_ability_name}[label_names][]", label.id, id: nil
            .dropdown
              %button.dropdown-menu-toggle.js-label-select.js-multiselect.js-label-sidebar-dropdown{ type: "button", data: {toggle: "dropdown", default_label: "标记", field_name: "#{issuable.to_ability_name}[label_names][]", ability_name: issuable.to_ability_name, show_no: "true", show_any: "true", namespace_path: @project.try(:namespace).try(:full_path), project_path: @project.try(:path), issue_update: issuable_json_path(issuable), labels: (project_labels_path(@project, :json) if @project) } }
                %span.dropdown-toggle-text{ class: ("is-default" if selected_labels.empty?) }
                  = multi_label_name(selected_labels, "标记")
                = icon('chevron-down', 'aria-hidden': 'true')
              .dropdown-menu.dropdown-select.dropdown-menu-paging.dropdown-menu-labels.dropdown-menu-selectable
                = render partial: "shared/issuable/label_page_default"
                - if can? current_user, :admin_label, @project and @project
                  = render partial: "shared/issuable/label_page_create"

      - if issuable.has_attribute?(:confidential)
        %script#js-confidential-issue-data{ type: "application/json" }= { is_confidential: @issue.confidential, is_editable: can_edit_issuable }.to_json.html_safe
        #js-confidential-entry-point

      = render "shared/issuable/participants", participants: issuable.participants(current_user)
      - if current_user
        - subscribed = issuable.subscribed?(current_user, @project)
        .block.light.subscription{ data: { url: toggle_subscription_path(issuable) } }
          .sidebar-collapsed-icon
            = icon('rss', 'aria-hidden': 'true')
          %span.issuable-header-text.hide-collapsed.pull-left
            通知
          - subscribtion_status = subscribed ? 'subscribed' : 'unsubscribed'
          %button.btn.btn-default.pull-right.js-subscribe-button.issuable-subscribe-button.hide-collapsed{ type: "button" }
            %span= subscribed ? '取消订阅' : '订阅'

      - project_ref = cross_project_reference(@project, issuable)
      .block.project-reference
        .sidebar-collapsed-icon.dont-change-state
          = clipboard_button(text: project_ref, title: "复制引用到剪贴板", placement: "left")
        .cross-project-reference.hide-collapsed
          %span
            参考：
            %cite{ title: project_ref }
              = project_ref
          = clipboard_button(text: project_ref, title: "复制引用到剪贴板", placement: "left")

    %script.js-sidebar-options{ type: "application/json" }= issuable_sidebar_options(issuable, can_edit_issuable).to_json.html_safe
