- run_actions_text = "Perform common operations on GitLab project: #{@project.name_with_namespace}"

%p To setup this service:
%ul.list-unstyled.indent-list
  %li
    1.
    = link_to 'https://docs.mattermost.com/developer/slash-commands.html#enabling-custom-commands', target: '_blank', rel: 'noopener noreferrer nofollow' do
      Enable custom slash commands
      = icon('external-link')
    on your Mattermost installation
  %li
    2.
    = link_to 'https://docs.mattermost.com/developer/slash-commands.html#set-up-a-custom-command', target: '_blank', rel: 'noopener noreferrer nofollow' do
      Add a slash command
      = icon('external-link')
    in your Mattermost team with these options:
%hr

.help-form
  .form-group
    = label_tag :display_name, 'Display name', class: 'col-sm-2 col-xs-12 control-label'
    .col-sm-10.col-xs-12.input-group
      = text_field_tag :display_name, "GitLab / #{@project.name_with_namespace}", class: 'form-control input-sm', readonly: 'readonly'
      .input-group-btn
        = clipboard_button(target: '#display_name')

  .form-group
    = label_tag :description, '描述', class: 'col-sm-2 col-xs-12 control-label'
    .col-sm-10.col-xs-12.input-group
      = text_field_tag :description, run_actions_text, class: 'form-control input-sm', readonly: 'readonly'
      .input-group-btn
        = clipboard_button(target: '#description')

  .form-group
    = label_tag nil, '命令触发词', class: 'col-sm-2 col-xs-12 control-label'
    .col-sm-10.col-xs-12.text-block
      %p Fill in the word that works best for your team.
      %p
        建议:
        %code= 'gitlab'
        %code= @project.path # Path contains no spaces, but dashes
        %code= @project.full_path

  .form-group
    = label_tag :request_url, 'Request URL', class: 'col-sm-2 col-xs-12 control-label'
    .col-sm-10.col-xs-12.input-group
      = text_field_tag :request_url, service_trigger_url(subject), class: 'form-control input-sm', readonly: 'readonly'
      .input-group-btn
        = clipboard_button(target: '#request_url')

  .form-group
    = label_tag nil, 'Request method', class: 'col-sm-2 col-xs-12 control-label'
    .col-sm-10.col-xs-12.text-block POST

  .form-group
    = label_tag :response_username, 'Response username', class: 'col-sm-2 col-xs-12 control-label'
    .col-sm-10.col-xs-12.input-group
      = text_field_tag :response_username, 'GitLab', class: 'form-control input-sm', readonly: 'readonly'
      .input-group-btn
        = clipboard_button(target: '#response_username')

  .form-group
    = label_tag :response_icon, 'Response icon', class: 'col-sm-2 col-xs-12 control-label'
    .col-sm-10.col-xs-12.input-group
      = text_field_tag :response_icon, asset_url('gitlab_logo.png'), class: 'form-control input-sm', readonly: 'readonly'
      .input-group-btn
        = clipboard_button(target: '#response_icon')

  .form-group
    = label_tag nil, 'Autocomplete', class: 'col-sm-2 col-xs-12 control-label'
    .col-sm-10.col-xs-12.text-block Yes

  .form-group
    = label_tag :autocomplete_hint, 'Autocomplete hint', class: 'col-sm-2 col-xs-12 control-label'
    .col-sm-10.col-xs-12.input-group
      = text_field_tag :autocomplete_hint, '[help]', class: 'form-control input-sm', readonly: 'readonly'
      .input-group-btn
        = clipboard_button(target: '#autocomplete_hint')

  .form-group
    = label_tag :autocomplete_description, 'Autocomplete description', class: 'col-sm-2 col-xs-12 control-label'
    .col-sm-10.col-xs-12.input-group
      = text_field_tag :autocomplete_description, run_actions_text, class: 'form-control input-sm', readonly: 'readonly'
      .input-group-btn
        = clipboard_button(target: '#autocomplete_description')

%hr

%ul.list-unstyled.indent-list
  %li
    3. Paste the
    %strong Token
    into the field below
  %li
    4. Select the
    %strong Active
    checkbox, press
    %strong Save changes
    and start using GitLab inside Mattermost!
